.projects-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 650px;
    /* background: url("https://image.freepik.com/free-vector/high-tech-background_23-2148458536.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    
    /* background-color: rgb(255, 251, 235); */
    background: linear-gradient(rgb(255, 251, 235), white);
}

.projects{
    max-width: 700px;
}

.projects li{
    list-style-type: none;
    margin-top: 30px;
}
.projects-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-text .title{
    font-weight: 600;
    border-bottom: 1px solid black;
    margin-top: -10px;
    font-size: 20px;
}

.row1,.row2{
    display: flex;
    column-gap: 50px;
}

@media screen and (max-width: 900px) {
    .projects-wrapper{
        padding: 20px;
        height: 1000px;
    }
    .row1,.row2{
        flex-direction: column;
        justify-content: flex-start;
    }
}